/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
}

:root {
  --brown: #D3AE8C;
  --blue: #84dcff;
  --yellow: #FDDE84;
  --red: #FF8E7A;
  --grey: #7E888A;
  --purple: #E3CCDD;
  --green: #ADE099;
  --iceblue: #8cf4fa;
  --pink: #F4B8C6;
  --gold: #FFD32D;
  
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

/* Blok met alle Eeve stroken er in, is altijd zo groot als de browser */
#groep {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
}

/* Class die ieder Eevee blok heeft, zorgt ervoor dat afbeelding in het midden van het blok staat */
.blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* De Eeveestaart afbeelding */
.blok img {
  width: 5em;
  height: 10em;
}

/* Eevee blok */
/* 100% width en height zorgt ervoor dat de breedte van de blokken eerlijk worden verdeeld */
#eevee {
  width: 100%;
  background-color: var(--brown);
}
/* Animatie hover */
#eevee:hover{
  background: linear-gradient(180deg, rgba(201,133,77,1) 0%, rgba(162,85,14,1) 50%, rgba(201,133,77,1) 100%);    
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;

}

@keyframes eeveebg {
 0% {
   background-position: top;
 }

 100% {
   background-position: bottom;
 }

}

/* wiggle animatie van de staart */
/* https://css-tricks.com/almanac/properties/a/animation/ */
@keyframes wiggle {
  0% {
  transform: rotate(0deg);
  }
  20% {
  transform: rotate(20deg);
  }

  60% {
    transform: rotate(-20deg);
  }

  100% {
  transform: rotate(0);
  }
  }

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin */
.blok:hover img {
  animation-name: wiggle;
  transform-origin: bottom center;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* knop opmaak */
button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    background-color: #C9854D;
    border:0.16em solid rgba(233, 189, 139, 0);
    border-radius:2em;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:white;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    }
    /* hover button idk i need this!!!!!!*/
    .button4:hover {
    border-color: rgba(255,255,255,1);
    }


/* Vaporeon blok */
#vaporeon {
  width: 100%;
  background-color: var(--blue);
}

/* Animatie hover */
#vaporeon:hover {
  background: linear-gradient(180deg, rgba(91,208,255,1) 0%, rgba(0,162,227,1) 50%, rgba(91,208,255,1) 100%);    
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;

}

/* Jolton blok */
#jolteon {
  width: 100%;
  background-color: var(--yellow);
}
#jolteon:hover{
  background: linear-gradient(180deg, rgba(255,236,141,1) 0%, rgba(255,213,0,1) 50%, rgba(255,236,141,1) 100%);  
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;

}

/* Flareon blok */
#flareon {
  width: 100%;
  background-color: var(--red);
}

#flareon:hover {
  background: linear-gradient(180deg, rgba(255,126,103,1) 0%, rgba(255,71,38,1) 50%, rgba(255,126,103,1) 100%);  
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;

}

/* Umbreon blok */
#umbreon {
  width: 100%;
  background-color: var(--grey);
}

#umbreon:hover {
  background: linear-gradient(180deg, rgba(106,103,86,1) 0%, rgba(55,54,46,1) 50%, rgba(106,103,86,1) 100%);  
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;
}

/* Espeon blok */
#espeon {
  width: 100%;
  height: 100%;
  background-color: var(--purple);
}

#espeon:hover {
  background: linear-gradient(180deg, rgba(239,183,241,1) 0%, rgba(197,151,199,1) 50%, rgba(239,183,241,1) 100%); 
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;
}

/* Leafeon blok */
#leafeon {
  width: 100%;
  background-color: var(--green);
}

#leafeon:hover{
  background: linear-gradient(180deg, rgba(155,217,131,1) 0%, rgba(103,168,90,1) 50%, rgba(155,217,131,1) 100%); 
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;
}

/* Glaceon blok */
#glaceon {
  width: 100%;
  background-color: var(--iceblue);
}

#glaceon:hover{
  background: linear-gradient(180deg, rgba(66,249,255,1) 0%, rgba(41,213,219,1) 50%, rgba(66,249,255,1) 100%); 
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;
}

/* Sylveon blok */
#sylveon {
  width: 100%;
  background-color: var(--pink);
}

#sylveon:hover{
  background: linear-gradient(180deg, rgba(255,201,214,1) 0%, rgba(255,153,178,1) 50%, rgba(255,201,214,1) 100%);  
  animation: eeveebg 1.5s linear infinite;
  background-size: 400% 400%;
}

/* Pokemon kaart */
.kaart {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-width: 8px;
  border-style: solid;
  border-color: var(--gold);
  border-radius: 1rem;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 22em;
  height: 35em;
  padding: 0rem 0.4rem 0.2rem 0.4rem;
}

.naam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.naam img {
  width: 1.4rem;
  height: 1.4rem;
}

/* Achtergrond van de eevee kaart */
.imgbg {
  width: 100%;
  background: linear-gradient(180deg, rgba(219,219,219,1) 0%, rgba(166,166,166,1) 50%, rgba(219,219,219,1) 100%);  
  animation: cardbg 2s linear infinite;
  background-size: 400% 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

/* Animatie voor de achtergrond van de eevee kaart */
@keyframes cardbg {
  0% {
    background-position: top;
  }
 
  100% {
    background-position: bottom;
  }
 
 }

.pokemonimg {
  
  height: 12rem;
  
  padding: 1rem 0rem;
}

.kaart h1 {
font-size: 0.5rem;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
padding-right: 26em; 
word-wrap: break-word;

}
.kaart h2, h3 {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 50%; 
  word-wrap: break-word;
  padding-right: 2%;
}

/* https://www.w3schools.com/cssref/css3_pr_word-wrap.asp */
.kaartekst {
  width: 100%;
  word-wrap: break-word;
}

/* Overlay Pokemon kaart https://www.w3schools.com/howto/howto_css_overlay.asp */
#overlay {
  position: fixed; /* Staat bovenop de content op de pagina */
  display: none; /* standaard verstopt */
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5); /* Witte achtergrond met opacity*/
  cursor: pointer; /* Voeg een pointer handje toe, zodat het duidelijk is dat je op de overlay kan klikken om hem te sluiten. */
}

#eeveeKaart {
  display: none;
}

#vaporeonKaart {
  display: none;
}

#jolteonKaart {
  display: none;
}

#flareonKaart {
  display: none;
}

#umbreonKaart {
  display: none;
}

#espeonKaart {
  display: none;
}

#leafeonKaart {
  display: none;
}

#glaceonKaart {
  display: none;
}

#sylveonKaart {
  display: none;
}