/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

/* Blok met alle Eeve stroken er in, is altijd zo groot als de browser */
#groep {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
}

/* Class die ieder Eevee blok heeft, zorgt ervoor dat afbeelding in het midden van het blok staat */
.blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* De Eevee afbeelding */
img {
  width: 8rem;
  height: 16rem;
}

/* Eevee blok */
/* 100% width en height zorgt ervoor dat de breedte van de blokken eerlijk worden verdeeld */
#eevee {
  width: 100%;
  height: 100%;
  background-color: #D3AE8C;
}

/* wiggle animatie van de staart */
/* https://css-tricks.com/almanac/properties/a/animation/ */
@keyframes wiggle {
  0% {
  transform: rotate(0deg);
  }
  20% {
  transform: rotate(45deg);
  }

  60% {
    transform: rotate(-45deg);
  }

  100% {
  transform: rotate(0);
  }
  }

img:nth-of-type(1):hover {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}

/* Vaporeon blok */
#vaporeon {
  width: 100%;
  height: 100%;
  background-color: #84dcff;
}

/* Jolton blok */
#jolteon {
  width: 100%;
  height: 100%;
  background-color: #FDDE84;
}

/* Flareon blok */
#flareon {
  width: 100%;
  height: 100%;
  background-color: #FF8E7A;
}

/* Umbreon blok */
#umbreon {
  width: 100%;
  height: 100%;
  background-color: #7E888A;
}

/* Espeon blok */
#espeon {
  width: 100%;
  height: 100%;
  background-color: #E3CCDD;
}

/* Leafeon blok */
#leafeon {
  width: 100%;
  height: 100%;
  background-color: #ADE099;
}

/* Glaceon blok */
#glaceon {
  width: 100%;
  height: 100%;
  background-color: #8cf4fa;
}

/* Sylveon blok */
#sylveon {
  width: 100%;
  height: 100%;
  background-color: #F4B8C6;
}